


#Container
{
  width:1000px;
}

#header
{
  background-color:#b8860b;
}

#h1
{
  margin-bottom:0;
}

#Trailer
{
  background-color:#90ee90; 
  width:500px;
  length:800px;
  float:left;
}

#Synopsis
{
  background-color:#FF00FF;
  width:500px;
  length:800px;
  float:right;
}  
