


#Container
{
  width:1000px;
}

#p
{
  padding: 24px;
}

#video
{
  border: 5px dotted;
  padding: 10px;
}
#header
{
  background-color:#b8860b;
}

#h1
{
  margin-bottom:0;
}

#Trailer
{
  background-color:#ffffff; 
  width:800px;
  height:400px;
  float:left;
}

#Synopsis
{
  background-color:#ffffff;
  width:800px;
  height:400px;
  float:right;
}  

#footer
{
  background-color:#ffffff;
  clear:both;
  text-align:center;
}
    
